*{
    font-family: 'Raleway', sans-serif;
}
body {
    font-size: 120%;  
    background-image: url("http://www.dreamtemplate.com/dreamcodes/bg_images/color/c12.jpg");
    background-repeat: repeat;
    background-position: right top;
}
h1{
    text-align: center;
    color: black;
}
img{
    border-radius: 10%;
    size: 200;
    text-align: center;
}
div.picSummary {
    display: inline-block;
    border: double;
}
div.strengths {
    display: inline-block;
    margin: 100px;
}
div.contactInfo {
    text-align: center;
    border: double;
}